<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Заголовок</h1>
    <h2>Заголовок</h2>
    <p>Текст</p>
    {%if message%}
    <p>{{message}}</p>
    {%endif%}
    <form action="" method="post">
        <p>
            <label for="iw_q">IW</label>
            <input type="number" name="iw_q">
        </p>
            <p>
            <label for="if_q">IF</label>
            <input type="number" name="if_q">
        </p>
            <p>
            <label for="vw_q">VW</label>
            <input type="number" name="vw_q">
        </p>
            <p>
            <label for="fp_q">FP</label>
            <input type="number" name="fp_q">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>



</body>
</html>