<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Заголовок</h1>
    <h2>Заголовок</h2>
    <p>Текст</p>
    {%if message%}
    <p>{{message}}</p>
    {%endif%}
    <form action="" method="post">
        <p>
            <label for="pole1">pole1</label>
            <input type="number" name="pole1">
        </p>
            <p>
            <label for="pole2">pole2</label>
            <input type="number" name="pole2">
        </p>
            <p>
            <label for="pole3">pole3</label>
            <input type="number" name="pole3">
        </p>
            <p>
            <label for="pole4">pole4</label>
            <input type="number" name="pole4">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>



</body>
</html>